<template>
  <div>
    <div class="head1 text-white text-h6 q-pa-md">Winner O-Net | อธิวราห์ คงมาลัย</div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.head1 {
  height: 60px;
  background-color: teal;
}
</style>